.NavList {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  text-align: center;
}



.Navigation {
  height: 100%;
  width: 35%;
}

@media only screen and (max-width: 1594px) {
  .Navigation {
    width: 40%;
  }
}

@media only screen and (max-width: 1395px) {
  .Navigation {
    width: 50%;
  }
}

@media only screen and (max-width: 1116px) {
  .Navigation {
    width: 100%;
  }
}
