.AboutMe {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 8.3333%;
  align-items: center;
  justify-content: space-between;
}

.AboutMeSection {
  display: flex;
  margin: 0 auto;
}

.AboutMePhoto {
  height: 80%;
}

@media (max-width: 767px) {
  .AboutMe {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    align-items: center;
  }
}

@media (max-width: 1025px) {
  .AboutMePhoto {
    display: none;
  }
}

@media (max-width: 661px) {
  .AboutMePhoto {
    display: block;
    min-height: 500px;
  }
}

